@model List<MainCategoryDTO>

<section class="uk-section uk-section-small">
    <div class="uk-container">
        <div class="uk-grid-medium uk-child-width-1-1 uk-grid uk-grid-stack" uk-grid="">
            <div class="uk-text-center uk-first-column">
                <ul class="uk-breadcrumb uk-flex-center uk-margin-remove">
                    <li><a href="index.html">Home</a></li>
                    <li><span>Catalog</span></li>
                </ul>
                <h1 class="uk-margin-small-top uk-margin-remove-bottom">Catalog</h1>
                @* <div class="uk-text-meta uk-margin-xsmall-top">641 items</div>*@
            </div>
            <div class="uk-grid-margin uk-first-column">
                <div class="uk-grid-medium uk-grid" uk-grid="">
                    <aside class="uk-width-1-4 uk-visible@m tm-aside-column uk-first-column">
                        <nav class="uk-card uk-card-default uk-card-body uk-card-small uk-sticky"
                             uk-sticky="bottom: true; offset: 90" style="">
                            <ul class="uk-nav uk-nav-default" uk-scrollspy-nav="closest: li; scroll: true; offset: 90">
                                @foreach (var item in Model)
                                {
                                    <li><a href="#@item.Name.Replace(" ","_")">@item.Name</a></li>
                                }
                            </ul>
                        </nav>
                        <div class="uk-sticky-placeholder" style="height: 185px; margin: 0px;" hidden=""></div>
                    </aside>
                    <div class="uk-width-1-1 uk-width-expand@m">
                        <div class="uk-grid-medium uk-child-width-1-1 uk-grid uk-grid-stack" uk-grid="">

                            @foreach (var item in Model)
                            {

                                <section id="@item.Name.Replace(" ","_")" class="uk-first-column">
                                    <div class="uk-card uk-card-default uk-card-small tm-ignore-container">
                                        <header class="uk-card-header">
                                            <div class="uk-grid-small uk-flex-middle uk-grid" uk-grid="">
                                                <a href="category.html" class="uk-first-column">
                                                    <img src="@item.Image" alt="@item.Name"
                                                         width="50" height="50">
                                                </a>
                                                <div class="uk-width-expand">
                                                    <h2 class="uk-h4 uk-margin-remove">
                                                        <a class="uk-link-heading"
                                                           href="category.html">@item.Name</a>
                                                    </h2>
                                               @*     <div class="uk-text-meta">367 items</div>*@
                                                </div>
                                            </div>
                                        </header>
                                        <div class="uk-card-body">
                                            <ul class="uk-list">
                                                @foreach (var subCat in item.Categories)
                                                {

                                                    <li><a asp-action="All" asp-controller="Product" asp-route-categoryid="@subCat.Id">@subCat.Name</a></li>

                                                }

                                            
                                             
                                            </ul>
                                        </div>
                                    </div>
                                </section>
                               
                            }



                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>