@model ProductDTO


<section class="uk-section uk-section-small">
    <div class="uk-container">
        <div class="uk-grid-medium uk-child-width-1-1" uk-grid>
            <div class="uk-text-center">
                <ul class="uk-breadcrumb uk-flex-center uk-margin-remove">
                    <li><a href="/">Home</a></li>
                    <li><a asp-action="All" asp-controller="Product" asp-route-categoryid="@Model.CategoryId">Catalog</a></li>
                    <li><span>@Model.Name</span></li>
                </ul>
                <h1 class="uk-margin-small-top uk-margin-remove-bottom">@Model.Name<h1>
            </div>
            <div>
                <div class="uk-grid-medium uk-child-width-1-1" uk-grid>
                    <div>
                        <div class="uk-card uk-card-default uk-card-small tm-ignore-container">
                            <div class="uk-grid-small uk-grid-collapse uk-grid-match" uk-grid>
                                <div class="uk-width-1-1 uk-width-expand@m">
                                    <div class="uk-grid-collapse uk-child-width-1-1"
                                         uk-slideshow="finite: true; ratio: 4:3;" uk-grid>
                                        <div>
                                            <ul class="uk-slideshow-items" uk-lightbox>

                                                @for (int i = 0; i < Model.Images.Count; i++)
                                                {
                                                    <li class="uren">
                                                        <a class="uk-card-body tm-media-box tm-media-box-zoom"
                                                           href="@Model.Images[i].Path">
                                                            <figure class="tm-media-box-wrap">
                                                                <img src="@Model.Images[i].Path"
                                                                     alt="@Model.Name">
                                                            </figure>
                                                        </a>
                                                    </li>
                                                }

                                            </ul>
                                        </div>
                                        <div>
                                            <div class="uk-card-body uk-flex uk-flex-center">
                                                <div class="uk-width-1-2 uk-visible@s">
                                                    <div uk-slider="finite: true">
                                                        <div class="uk-position-relative">
                                                            <div class="uk-slider-container">
                                                                <ul class="tm-slider-items uk-slider-items uk-child-width-1-4 uk-grid uk-grid-small">

                                                                    @for (int i = 0; i < Model.Images.Count; i++)
                                                                    {
                                                                        <li uk-slideshow-item="@i">
                                                                            <div class="tm-ratio tm-ratio-1-1">
                                                                                <a class="tm-media-box tm-media-box-frame">
                                                                                    <figure class="tm-media-box-wrap">
                                                                                        <img src="@Model.Images[i].Path"
                                                                                             alt="@Model.Name">
                                                                                    </figure>
                                                                                </a>
                                                                            </div>
                                                                        </li>
                                                                    }





                                                                </ul>
                                                                <div>
                                                                    <a class="uk-position-center-left-out uk-position-small"
                                                                       href="#" uk-slider-item="previous"
                                                                       uk-slidenav-previous></a><a class="uk-position-center-right-out uk-position-small"
                                                                                                   href="#" uk-slider-item="next"
                                                                                                   uk-slidenav-next></a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <ul class="uk-slideshow-nav uk-dotnav uk-hidden@s"></ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="uk-width-1-1 uk-width-1-3@m tm-product-info">
                                    <div class="uk-card-body">
                                        <div>
                                            <a href="#" title="@Model.Brand.Name">
                                                <img src="@Model.Brand.Image"
                                                     alt="@Model.Brand.Name" style="height: 40px;">
                                            </a>
                                        </div>
                                        <div class="uk-margin">
                                            <div class="uk-grid-small" uk-grid>
                                                <div class="uk-flex uk-flex-middle">
                                                    @*                                                                <ul
                                                    class="uk-iconnav uk-margin-xsmall-bottom tm-rating">
                                                    <li><span class="uk-text-warning"
                                                    uk-icon="star"></span></li>
                                                    <li><span class="uk-text-warning"
                                                    uk-icon="star"></span></li>
                                                    <li><span class="uk-text-warning"
                                                    uk-icon="star"></span></li>
                                                    <li><span class="uk-text-warning"
                                                    uk-icon="star"></span></li>
                                                    <li><span class="uk-text-warning"
                                                    uk-icon="star"></span></li>
                                                    </ul>*@
                                                    @*   <div class="uk-margin-xsmall-left">
                                                    <a class="uk-text-meta js-scroll-to-description"
                                                    href="#description"
                                                    onclick="UIkit.switcher('.js-product-switcher').show(3);">(2)</a>
                                                    </div>*@
                                                </div>
                                                @*    <div>
                                                <span
                                                class="uk-label uk-label-warning uk-margin-xsmall-right">top
                                                selling</span><span
                                                class="uk-label uk-label-danger uk-margin-xsmall-right">trade-in</span>
                                                </div>*@
                                            </div>
                                        </div>
                                        <div class="uk-margin">
                                            <div class="uk-grid-medium" uk-grid>
                                                @* <div>
                                                <div class="uk-text-small uk-margin-xsmall-bottom">
                                                Color
                                                </div>
                                                <ul class="uk-subnav uk-subnav-pill tm-variations"
                                                uk-switcher>
                                                <li>
                                                <a class="tm-variation-color"
                                                uk-tooltip="Space Grey">
                                                <div style="background-color: #aaaeb1">
                                                </div>
                                                </a>
                                                </li>
                                                <li>
                                                <a class="tm-variation-color"
                                                uk-tooltip="Silver">
                                                <div style="background-color: #dddfde">
                                                </div>
                                                </a>
                                                </li>
                                                </ul>
                                                </div>*@
                                                @*   <div>
                                                <div class="uk-text-small uk-margin-xsmall-bottom">SSD
                                                Storage</div>
                                                <ul class="uk-subnav uk-subnav-pill tm-variations"
                                                uk-switcher>
                                                <li><a>256 GB</a></li>
                                                <li><a>512 GB</a></li>
                                                </ul>
                                                </div>*@
                                            </div>
                                        </div>
                                        <div class="uk-margin">
                                            <div class="uk-padding-small uk-background-primary-lighten uk-border-rounded">
                                                <div class="uk-grid-small uk-child-width-1-1" uk-grid>
                                                    <div>
                                                        @*      <del class="uk-text-meta">$1899.00</del>*@
                                                        <div class="tm-product-price">$ @Model.Price</div>
                                                    </div>
                                                    <div>
                                                        <div class="uk-grid-small" uk-grid>
                                                            @* <div>
                                                            <a onclick="increment(-1, 'product-1')"
                                                            uk-icon="icon: minus; ratio: .75"></a><input
                                                            class="uk-input tm-quantity-input"
                                                            id="product-1" type="text" maxlength="3"
                                                            value="1" /><a
                                                            onclick="increment(+1, 'product-1')"
                                                            uk-icon="icon: plus; ratio: .75"></a>
                                                            </div>*@
                                                            <div>
                                                                <button class="uk-button uk-button-primary tm-product-add-button tm-shine js-add-to-cart" onclick="addToCart(@Model.Id)">
                                                                    add
                                                                    to cart
                                                                </button>
                                                            </div>
                                                            @*<div
                                                            class="uk-width-auto uk-width-expand@s uk-flex uk-flex-middle uk-text-meta">
                                                            <a class="uk-margin-small-right js-add-to js-add-to-favorites tm-action-button-active js-added-to"
                                                            uk-tooltip="Add to favorites"><span
                                                            uk-icon="heart"></span></a><a
                                                            class="js-add-to js-add-to-compare tm-action-button-active js-added-to"
                                                            uk-tooltip="Add to compare"><span
                                                            uk-icon="copy"></span></a></div>*@
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="uk-margin">
                                            <div class="uk-padding-small uk-background-muted uk-border-rounded">
                                                <div class="uk-grid-small uk-child-width-1-1 uk-text-small"
                                                     uk-grid>
                                                    <div>
                                                        <div class="uk-grid-collapse" uk-grid>
                                                            <span class="uk-margin-xsmall-right"
                                                                  uk-icon="cart"></span>
                                                            <div>
                                                                <div class="uk-text-bolder">Delivery</div>
                                                                <div class="uk-text-xsmall uk-text-muted">
                                                                    In
                                                                    stock, free, tomorrow
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div>
                                                        <div class="uk-grid-collapse" uk-grid>
                                                            <span class="uk-margin-xsmall-right"
                                                                  uk-icon="location"></span>
                                                            <div>
                                                                <div class="uk-text-bolder">
                                                                    Pick up from
                                                                    store
                                                                </div>
                                                                <div class="uk-text-xsmall uk-text-muted">
                                                                    In
                                                                    stock, free, tomorrow
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="uk-width-1-1 tm-product-description" id="description">
                                    <header>
                                        <nav class="tm-product-nav"
                                             uk-sticky="offset: 60; bottom: #description; cls-active: tm-product-nav-fixed;">
                                            <ul class="uk-subnav uk-subnav-pill js-product-switcher"
                                                uk-switcher="connect: .js-tabs">
                                                <li>
                                                    <a class="js-scroll-to-description"
                                                       href="#description">Overview</a>
                                                </li>
                                                <li>
                                                    <a class="js-scroll-to-description"
                                                       href="#description">Specifications</a>
                                                </li>

                                                <li>
                                                    <a class="js-scroll-to-description"
                                                       href="#description">
                                                        Reviews
                                                        <span>(@Model.CommentCount)</span>
                                                    </a>
                                                </li>

                                            </ul>
                                        </nav>
                                    </header>
                                    <div class="uk-card-body">
                                        <div class="uk-switcher js-product-switcher js-tabs">
                                            <section>
                                                <article class="uk-article">
                                                    <div class="uk-article-body">

                                                        @Html.Raw(Model.Description)
                                                    </div>


                                                </article>
                                            </section>
                                            <section>



                                                <table class="uk-table uk-table-divider uk-table-justify uk-table-responsive">

                                                    @foreach (var sitem in Model.ProductSpesifications)
                                                    {
                                                        <tr>
                                                            <th class="uk-width-medium">@sitem.Spesification.Name</th>
                                                            <td class="uk-table-expand">
                                                                @sitem.SpesificationItem.Item
                                                            </td>
                                                        </tr>
                                                    }




                                                </table>

                                            </section>

                                            <section>
                                                <div class="uk-grid-small uk-grid-divider" uk-grid>
                                                    <div class="uk-width-1-1 uk-width-1-5@s uk-text-center tm-reviews-column">
                                                        <div class="uk-text-meta uk-text-uppercase">
                                                            average
                                                            rating
                                                        </div>
                                                        <div class="uk-heading-primary">5.0</div>
                                                        <div class="uk-flex uk-flex-center">
                                                            <ul class="uk-iconnav tm-rating">
                                                                <li>
                                                                    <span class="uk-text-warning"
                                                                          uk-icon="star"></span>
                                                                </li>
                                                                <li>
                                                                    <span class="uk-text-warning"
                                                                          uk-icon="star"></span>
                                                                </li>
                                                                <li>
                                                                    <span class="uk-text-warning"
                                                                          uk-icon="star"></span>
                                                                </li>
                                                                <li>
                                                                    <span class="uk-text-warning"
                                                                          uk-icon="star"></span>
                                                                </li>
                                                                <li>
                                                                    <span class="uk-text-warning"
                                                                          uk-icon="star"></span>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        <div class="uk-margin-small-top uk-text-meta">
                                                            based
                                                            on 2 reviews
                                                        </div>

                                                        @if (User.Identity.IsAuthenticated)
                                                        {

                                                            <button class="uk-button uk-button-primary uk-margin-top uk-width-1-1"
                                                                    uk-toggle="target: #review">
                                                                write a
                                                                review
                                                            </button>
                                                        }
                                                    </div>
                                                    <div class="uk-width-1-1 uk-width-expand@s">
                                                        <div class="uk-grid-small uk-grid-divider uk-child-width-1-1"
                                                             uk-grid>

                                                            @foreach (var item in Model.CommentData.Comments)
                                                            {


                                                                <article>
                                                                    <section class="uk-grid-small uk-child-width-1-1"
                                                                             uk-grid>
                                                                        <header>
                                                                            <div class="uk-h4 uk-margin-remove">
                                                                                todo kişi adını getir.
                                                                            </div><time class="uk-text-meta">
                                                                                @item.CreateDate.ToShortDateString()
                                                                            </time>
                                                                        </header>
                                                                        <div>

                                                                            @item.Meseage

                                                                        </div>
                                                                    </section>
                                                                </article>

                                                            }

                                                        </div>
                                                    </div>
                                                </div>
                                            </section>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div id="review" uk-modal>
                    <div class="uk-modal-dialog uk-modal-body">
                        <button class="uk-modal-close-outside"
                                type="button" uk-close></button>
                        <h2 class="uk-modal-title uk-text-center">Review</h2>
                        <form data-ajax="true" data-ajax-method="POST" data-ajax-begin="showLoading()" data-ajax-complete="hideLoading()" data-ajax-success="onSendCommentSuccess" asp-action="Send" asp-controller="Comment" class="uk-form-stacked">
                            <div class="uk-grid-small uk-child-width-1-1" uk-grid>

                                <input type="hidden" name="productid" value="@Model.Id">
                                <div>
                                    <label>
                                        <div class="uk-form-label uk-form-label-required">Mesaj </div>
                                        <textarea name="messeage" class="uk-textarea" rows="5" required></textarea>
                                    </label>
                                </div>
                                <div class="uk-text-center">
                                    <button type="submit" class="uk-button uk-button-primary">
                                        Send
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="uk-section uk-section-default uk-section-small">
    <div class="uk-container">
        <div uk-slider>
            <ul class="uk-slider-items uk-child-width-1-1 uk-child-width-1-2@s uk-child-width-1-5@m uk-grid">
                <li>
                    <div class="uk-grid-small uk-flex-center uk-flex-left@s" uk-grid>
                        <div><span uk-icon="icon: star; ratio: 2.5;"></span></div>
                        <div class="uk-text-center uk-text-left@s uk-width-expand@s">
                            <div>Mauris placerat</div>
                            <div class="uk-text-meta">Donec mollis nibh dolor, sit amet auctor</div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="uk-grid-small uk-flex-center uk-flex-left@s" uk-grid>
                        <div><span uk-icon="icon: receiver; ratio: 2.5;"></span></div>
                        <div class="uk-text-center uk-text-left@s uk-width-expand@s">
                            <div>Lorem ipsum</div>
                            <div class="uk-text-meta">Sit amet, consectetur adipiscing elit</div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="uk-grid-small uk-flex-center uk-flex-left@s" uk-grid>
                        <div><span uk-icon="icon: location; ratio: 2.5;"></span></div>
                        <div class="uk-text-center uk-text-left@s uk-width-expand@s">
                            <div>Proin pharetra</div>
                            <div class="uk-text-meta">Nec quam a fermentum ut viverra</div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="uk-grid-small uk-flex-center uk-flex-left@s" uk-grid>
                        <div><span uk-icon="icon: comments; ratio: 2.5;"></span></div>
                        <div class="uk-text-center uk-text-left@s uk-width-expand@s">
                            <div>Praesent ultrices</div>
                            <div class="uk-text-meta">Praesent ultrices, orci nec finibus</div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="uk-grid-small uk-flex-center uk-flex-left@s" uk-grid>
                        <div><span uk-icon="icon: happy; ratio: 2.5;"></span></div>
                        <div class="uk-text-center uk-text-left@s uk-width-expand@s">
                            <div>Duis condimentum</div>
                            <div class="uk-text-meta">Pellentesque eget varius arcu</div>
                        </div>
                    </div>
                </li>
            </ul>
            <ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin-medium-top"></ul>
        </div>
    </div>
</section>
